<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Update Cat</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Cat Name" formControlName="name" #name>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Age" formControlName="age" #age>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Sexe" formControlName="sexe" #sexe>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="Description" formControlName="description" #description></textarea>
      </mat-form-field>
    
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="updateCat(name.value, 
      age.value, sexe.value, description.value)" 
      [disabled]="createForm.pristine || createForm.invalid" 
      mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>

 
